---

---

<div class="wrapper">

<h2 class="section-title hs-photographer white spacing center">
  Lancaster Headshot Photographer
</h2>


<div class="bio-wrapper">
<div class=bio-container>
  <div class="clip clip1"  title="Lancaster Headshot Photographer">
    <div class=bio-content>
      <h2 class="bio-content-h2">LANCASTER HEADSHOT PHOTOGRAPHY</h2>

      <p>By now you probably realize that professional headshot photography is about more 
        than just nice pictures, and I am much more than a portrait photographer.</p>

      <p>I am the best headshot photographer in Lancaster PA, Central Pennsylvania, 
        and surrounding areas such as Philadelphia, Delaware, Harrisburg, Baltimore, 
        Hershey, and Reading.</div>
  </div>
  
  <div class=" clip clip2"  title="Professional Headshots">
    <div class=bio-content>
      <h2 class="bio-content-h2">PROFESSIONAL HEADSHOTS NEAR LANCASTER</h2>

      <p>As your professional headshot photographer and trusted advisor, I provide a 
        premium experience, while removing any anxiety or feelings of discomfort over 
        having your photo taken.</p>

      <p>Having your headshot taken should be an enjoyable, and dynamic experience.</div>
  </div>
  <div class="clip clip3"  title="Richard Waine Headshot Photographer">
    <div class=bio-content>
      <h2 class="bio-content-h2">PROFESSIONAL HEADSHOT PHOTOGRAPHER</h2>

      <p>I have built my career helping individuals, like yourself, make more money, 
        reduce expenses, and expand market share by capturing the best headshots around.</p>

      <p>Your professional headshot needs to showcase you at your best. A modern headshot demonstrates that you have a contemporary mindset, and visionary perspective.</p>

      <p>I am committed to providing you with an easy, first-class experience, while 
        creating high quality headshots that you are proud to use everywhere!</p>

      <p>I love what I do, and I have a blast doing it! Come and see what all the fuss 
        is about!</div></div></div>



</div>
</div>



<style>
h2{
  margin-block:var(--size-3);
}

/*bio hover section*/
.bio-wrapper{

  --_wrapper-height:400px;
  --_wrapper-width:calc(var(--_wrapper-height) * 3); /*width = 400px, height = 1200px */

  box-shadow: var(--shadow);
  width: var(--_wrapper-width);
  max-width: 100%;
  height: var(--_wrapper-height);
  margin:0 auto;
}

.bio-container {
  color: var(--blkclr);
 
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: var(--_wrapper-width);
  max-width: 100%;
  height: var(--_wrapper-height);




}
.bio-container .clip {
  position: absolute;
 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;

}
.bio-container .clip.clip1,
.bio-container:hover {
  background: url(https://static1.squarespace.com/static/50f79c6fe4b00d3480c9bbf0/t/5f74e86f21713101d3a39c47/1601497200926/DSC04679-2.jpg);
  background-size: cover;
  background-position: 0 -50px;
  background-repeat: no-repeat;
}
.clip.clip1 {
  background: url(https://static1.squarespace.com/static/50f79c6fe4b00d3480c9bbf0/t/5f74e86f21713101d3a39c47/1601497200926/DSC04679-2.jpg);
  background-size: cover;
  background-position: 0 -50px;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 40% 0, 25% 100%, 0% 100%);
}
.clip.clip2 {
  background: url(https://static1.squarespace.com/static/50f79c6fe4b00d3480c9bbf0/t/5f74e7edb37ba374ee94153c/1601497072838/IMG_0882+-2.jpg);
  background-size: cover;
  background-position: 0 -110px;
  background-repeat: no-repeat;
  clip-path: polygon(40% 0, 100% 0, 75% 100%, 25% 100%);
}
.clip.clip3 {
  background: url(https://static1.squarespace.com/static/50f79c6fe4b00d3480c9bbf0/t/5f74ea828faed21fb0d31187/1601497731670/Richard+Waine+-+%281000+x+500px%29+-+Lancaster_PA_0006.jpg);
  background-repeat: no-repeat;
  background-size: 70% ;
  background-size:contain;
  
  //background-position: 360px 0;
   background-position: 400px 0;
  clip-path: polygon(75% 0, 100% 0, 102% 100%, 60% 102%);

 
}
.bio-container:hover .clip {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  
 
}
.bio-container .clip:hover {
  clip-path: polygon(0 0, 100% 0, 100% 102%, 0 102%);

 

}




.bio-content{
    /* line-height:1.75; */
  
}

.bio-container .clip.clip1 .bio-content {
  position: absolute;
  bottom: -100%;
 
  left: 0;
  width: 70%;
  padding:var(--size-4);
  background: var(--ltclr);
  opacity: 0;
  transition: 0.5s;
 
}

.bio-container .clip.clip1:hover .bio-content {
  bottom: 0;
  opacity: 0.85;
}
.bio-container .clip.clip2 .bio-content {
  position: absolute;
  /* bottom: 100%; */
  bottom:-90%;
  left: 0;
  width: 70%;
  padding:var(--size-4);
  background: var(--ltclr);
  opacity: 0;
  transition: 0.5s;

}
.bio-container .clip.clip2:hover .bio-content {
  bottom: 0;
  opacity: 0.85;
}
.bio-container .clip.clip3 .bio-content {
  position: absolute;
  top: 0;
  bottom:0;
  left: -100%;
  width: 70%;
  padding:var(--size-4);
  background: var(--ltclr);
  opacity: 0;
  transition: 0.5s;

  
}





.bio-container .clip.clip3:hover .bio-content {
  left: 0;
  opacity: 0.85;
}
.clip:hover .bio-content h2 {
  font: var(--fs-500) var(--ff-primary);
  letter-spacing: var(--ltr-space);
}
.bio-content p {
  font-family: var(--ff-secondary);
}

.mobile-bio-paragraph {
  text-align: left;
}
#block-f372188da5e82229ac49,
#block-0ad38879a87cf6e54173,
#block-yui_3_17_2_1_1600984059863_31425,
#block-yui_3_17_2_1_1616342450533_15222,
#block-yui_3_17_2_1_1600984059863_27516,
#block-72007bb5d338e9e55ff6,
#block-e22feb9f59caa3f714a5,
#block-fe034623f71208f00283,
#block-fa19021b659d9cbd7852,
#block-2831f5b4e6b1ecf38f1e,
#block-fa9bb8fe3b276b173fdc,
#block-c69e67719fdd44dea011,
#block-27af71a9e96e443d87c1 {
  display: none;
  padding: 0 17px;
}

@media screen and (max-width: 1200px) {
  #block-b4eed49aa308978fa189,
  #block-yui_3_17_2_1_1600983032499_6506,
  #block-yui_3_17_2_1_1603979668031_6493,
  #block-yui_3_17_2_1_1603980416323_6512,
  #block-yui_3_17_2_1_1603980687721_6520,
  #block-1b79ca5a0bb286c94340 {
    display: none;
  }
  #block-f372188da5e82229ac49,
  #block-0ad38879a87cf6e54173,
  #block-yui_3_17_2_1_1600984059863_31425,
  #block-yui_3_17_2_1_1616342450533_15222,
  #block-yui_3_17_2_1_1600984059863_27516,
  #block-72007bb5d338e9e55ff6,
  #block-e22feb9f59caa3f714a5,
  #block-fe034623f71208f00283,
  #block-fa19021b659d9cbd7852,
  #block-2831f5b4e6b1ecf38f1e,
  #block-fa9bb8fe3b276b173fdc,
  #block-c69e67719fdd44dea011,
  #block-27af71a9e96e443d87c1 {
    display: block;
  }
}




</style>