---

---


<div class="wrapper">
<div class="portraits center">
   
    <p class="portraits__title section-title">DID YOU KNOW?</p>
    <p class="portraits__paragraph paragraph">
    My clients often request other types of images in addition to headshots.
    </p>
    <p class="portraits__paragraph paragraph">I am happy to help you with your marketing, advertising, and personal branding photos.
    </p>
  </div>

<div class="portraits__images">
  <img class="portrait portrait-1" loading="lazy" src="https://static1.squarespace.com/static/50f79c6fe4b00d3480c9bbf0/t/605791c17e7c406eebf7b39e/1616351681646/Grace+Long+%28500px%29+Richard_Waine_Lancaster_PA_0805+-+3.jpg" alt="model portraits, modeling pictures, model photography">
  <img class="portrait portrait-2" loading="lazy" src="https://static1.squarespace.com/static/50f79c6fe4b00d3480c9bbf0/t/6057924745562a231bf4c179/1616351815835/Wolf+Cavalo+%28500px%29+Richard_Waine_Lancaster_PA_0026-4.jpg" alt="branding photography, personal branding, personal branding pictures">
  <img class="portrait portrait-3" loading="lazy" src="https://static1.squarespace.com/static/50f79c6fe4b00d3480c9bbf0/t/605791f5a3b3864813837a3a/1616351733604/Jocelyn+Crosby+%28500px%29+Richard_Waine_Lancaster_PA_0339-1.jpg" alt="musician pictures, publicity pictures, press kit images, richard waine photography">
  <img class="portrait portrait-4" loading="lazy" src="https://static1.squarespace.com/static/50f79c6fe4b00d3480c9bbf0/t/60579274ed1e0809c1c8fc12/1616351860100/Brandon+Lesagonicz+%28500px%29+Richard_Waine_Lancaster_PA_0062.jpg" alt="model portrait, business portraits, branding pictures, photography studio">
  <img class="portrait portrait-5" loading="lazy" src="https://static1.squarespace.com/static/50f79c6fe4b00d3480c9bbf0/t/605792a545562a231bf4c61d/1616351909496/Nolan+Foster+%28500px%29+Richard_Waine_Lancaster_PA_0210.jpg" alt="business portraits, professional pictures, professional photography">
  <img class=" portrait portrait-6" loading="lazy" src="https://static1.squarespace.com/static/50f79c6fe4b00d3480c9bbf0/t/60579222bc125625fc770408/1616351778513/Dan+Fineberg+%28500px%29+Richard_Waine_Lancaster_PA_0632-3.jpg" alt="fitness model, professional portraits, professional model portraiture">
</div>
</div>




<style>
/*portrait section*/



.portraits__images{
    display:grid;
    grid-template-columns:repeat(1fr);
    width:100%;
    padding:var(--size-4) 0;
    gap:var(--size-7);
    place-items: center
}

.portrait{
  box-shadow:var(--shadow)
}
.portrait-6,.portrait-5,.portrait-2,.portrait-3{
  display:none
}

@media screen and (min-width:641px) {
.portraits__images{
  display:grid;
  grid-template-columns:repeat(6,1fr);
  justify-content:center;
  gap:var(--size-7);
  margin:var(--size-4) 0
}

.portrait-6,.portrait-5,.portrait-2,.portrait-3{
  display:grid
}
}




</style>