---
import MainLayout from '../layouts/MainLayout.astro'
import PageTitle from '../components/PageTitle.astro';
const h1 ='Privacy Policy';
---

<MainLayout title="The Legal Stuff That No One Understands" description="This is the legal stuff that no one really wants to read, but is equally important. This is my privacy policy and terms and conditions.">



<main>
        <PageTitle title={h1} />
        <div class="wrapper">

        <h2 class="center">PRIVACY POLICY</h2>



            <p>Your privacy is important to Richard Waine Photography. This privacy statement provides information about the personal information that Richard Waine Photography collects, and the ways in which Richard Waine Photography uses that personal information.
</p>


            <h3>Personal information collection</h3>

            <p>Richard Waine Photography may collect and use the following kinds of personal information:</p>

            <ul>
                <li>information about your use of this website (including geographic location)</li>
                <li>information about transactions carried out over this website (including purchasing habits)</li>
                <li>information that you provide for the purpose of subscribing to the website services (including email address)</li>
                <li>any other information that you send to Richard Waine Photography.</li>
            </ul>



            <h3>Using personal information</h3>

            <p>Richard Waine Photography may use your personal information to:</p>

            <ul>

                <li>administer this website</li>
                <li>personalize the website for you</li>
                <li>enable your access to and use of the website services</li>
                <li>publish information about you on the website</li>
                <li>send to you products that you purchase</li>
                <li>supply to you services that you purchase</li>
                <li>send to you statements and invoices</li>
                <li>collect payments from you</li>
                <li>send you marketing communications</li>

            </ul>

            <p>Where Richard Waine Photography discloses your personal information to its agents or sub-contractors for these purposes, the agent or sub-contractor in question will be obligated to use that personal information in accordance with the terms of this privacy statement.</p>

            <p>In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, Richard Waine Photography may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.
            </p>

            <h3>Securing your data</h3>

            <p>Richard Waine Photography will take reasonable technical and organizational precautions to prevent the loss, misuse or alteration of your personal information.  
            </p>

            <p>Richard Waine Photography will store all the personal information you provide on its secure servers. Credit card information is <strong>NOT</strong> stored, kept or even seen by Richard Waine Photography. Richard Waine Photography contracts with well known, 3rd party vendors in this space, and transactions are processed by them (Square, Stripe, PayPal).</p>

            <p>Information relating to electronic transactions entered into via this website will be protected by encryption technology.</p>

            <h3>Cross-border data transfers</h3>

            <p>Information that Richard Waine Photography collects may be stored and processed in and transferred between any of the countries in which Richard Waine Photography operates to enable the use of the information in accordance with this privacy policy.</p>

            <p>In addition, personal information that you submit for publication on the website will be published on the internet and may be available around the world.</p>

            <p>You agree to such cross-border transfers of personal information.</p>

            <h3>Updating this statement</h3>

            <p>Richard Waine Photography may update this privacy policy by posting a new version on this website.</p>

            <p>You should check this page occasionally to ensure you are familiar with any changes.</p>

            <h3>Other websites</h3>

            <p>This website contains links to other websites.</p>

            <p>Richard Waine Photography is not responsible for the privacy policies or practices of any third party.</p>

            <h3>Contact Richard Waine Photography</h3>

            <p>If you have any questions about this privacy policy or Richard Waine Photography’s treatment of your personal information, please write:</p>

            <p>by email using the <a href="/contact-lancaster-headshot-photographer-richard-waine"><strong>contact form</strong></a>, or</p>

            <p>by mail to:</p> 

            <div>
                    <p>Richard Waine Photography<br>

                    20 North Queen Street, Suite 203<br>

                    Lancaster, PA 17603
                    </p>
            </div>


        </div>
</main>

</MainLayout>


<style>

body{
        color:var(--blkclr);
    }

.wrapper{
    margin-bottom:var(--size-9);
}

h2{
    font-size:var(--fs-700);
    font-weight:var(--fw-bold);
    margin-block:var(--size-3);
}

h3{
    margin-block:var(--size-3);
    font-weight:var(--fw-semi-bold)
}

p{
    margin-bottom:var(--size-3);
}

ul{
    list-style:none;

        & > li{
            margin-bottom:var(--size-3);
        }
}

</style>