---
import MainLayout from '../layouts/MainLayout.astro'
import ZoomPopOut from '../components/ZoomPopOut.astro'
import RatesCard from '../components/RatesCard.astro'
import PageTitle from '../components/PageTitle.astro';
let h1 = 'Headshot Rates';



---

<MainLayout title = "Headshot Session Rates" description="Professional headshot photography rates and pricing. Transparent pricing for corporate headshots, business headshots, professional portraits, and LinkedIn profile photo sessions">

<PageTitle title={h1} />

<main>

<!-- <ZoomPopOut /> -->

<RatesCard >/


</main>


</MainLayout>


<style>
    :root{
/* --pagetitle-h1-margin:0; */
    }



</style>