---
import FAQAccordion from './FAQAccordion.astro';

const tel = "(717) 925 - 0061"

const leftColumnFAQs = [
  {
    question: "WHAT SHOULD I WEAR FOR MY SESSION?",
    answer: "I ask that everyone bring a variety of different clothing options. For the most part, you only need to bring along shirts and blouses, unless you plan on doing three-quarter length shots as well. Please bring a variety of your favorite tops. I may choose to shoot multiple looks, so make sure you have a nice range of clothing with you. You have to love it! Any number of things can work, but my clients tend to shoot with greater success when they are wearing things they feel great in. Don't be afraid to mix it up with different cuts, colors, layers, and textures. Bring attire that reflects you and your personality. Please try to avoid overly fuzzy and pilled sweaters. I generally lean toward solid colors."
  },
  {
    question: "WHY DO YOU ONLY SHOOT HORIZONTALLY?",
    answer: "I prefer to shoot horizontally because that is how humans see the world. In addition, a horizontal frame allows for space, so that your headshot doesn't appear constricted or confined between the narrow walls of a vertical crop. Plus, it's a more contemporary and widely accepted format."
  },
  {
    question: "WHY DO YOU CROP THE TOPS OF HEADS?",
    answer: "This is a very common question. I believe the most important information in a headshot is your expression. Having the clothing information around your shoulders and chest is important to get a sense of your identity as well. When your eyes are above the center line, it makes for a more impactful image. When the frame is adjusted to accommodate these features, the top of the head gets cropped. As long as the viewer gets a sense of your hairstyle, they can envision the rest of your hair. Plus, people will still assume that you still have your entire head. right?!"
  },
  {
    question: "CAN I SEE MY IMAGES DURING THE SESSION?",
    answer: "Absolutely! I tend to pause frequently to give you a chance to see the images we create. I also use that time to coach and direct you; showing you what is working well and what we need to work on. In addition, I allow time at the end of the session to review the images we have taken during the course of the session."
  }
];

const rightColumnFAQs = [
  {
    question: "WHAT HAPPENS AFTER MY SESSION?",
    answer: "At the end of your session, I will have your image(s) polished up and retouched. Once complete, I will place the work in your private proofing gallery. At this time, you will have the opportunity to review the image(s). Upon your approval of the work, I will enable the download feature on the gallery and you may save the image(s) to your computer."
  },
  {
    question: "SHOULD I INVEST IN YOUR MAKEUP ARTIST?",
    answer: "If you are a male, the answer is a resounding no. There is no need. I do encourage ladies to schedule my makeup artist for their session, however. It is remarkable how much more confident and relaxed a little time with an amazing makeup artist will make you feel."
  },
  {
    question: "WHAT ABOUT HAIR?",
    answer: "I ask that everyone come with their hair done as if they were presenting themselves to a casting director for an audition. We want your headshot to match the way you look in person on a regular basis. It must be something that you can recreate at will. My makeup artist will do some light primping, but will not style or re-style your hair."
  },
  {
    question: "WHO NEEDS A PROFESSIONAL HEADSHOT?",
    answer: "A professional headshot is not just a pretty picture. It is a personal and corporate branding tool. This is your virtual handshake and introduction to the world. Here is a list of people and professions that need a professional headshot: <b><a style=\"color:blue;cursor:pointer\" href=\"/blog-content/2016/11/7/who-needs-a-solid-headshot\">Who Needs a Solid Headshot?</a></b>"
  }
];
---

<div class="wrapper">
    <div class="frequently-asked-section">
  <h3 class="frequently-asked section-title">
    Frequently Asked Questions
  </h3>
  <p>Don't See Your Question Here? 
    Call me at <a href=tel:1-717-925-0061>
      <strong>{tel}</strong>
    </a>
  </p>

<div class="faq-section">
  <FAQAccordion faqs={leftColumnFAQs} idPrefix="left" />
  <FAQAccordion faqs={rightColumnFAQs} idPrefix="right" />

</div>

</div>

<style>

/*FAQs - 2*/

.frequently-asked-section p{
    margin-top:var(--size-3);

}

a{
    color:var(--drkclr);
    font-weight:var(--fw-bold);
}

.faq-section{
  margin-inline:auto;
  
}

@media (min-width: 67.5em) {
  .faq-section {
    display: flex;
    gap: var(--size-8);
    margin-block: var(--size-7);
  }
}

.frequently-asked-section h3,
.frequently-asked-section p {
  text-align: center;
}

</style>