---
import { buildLocalBusinessSchema } from '../utils/schema';

 interface Props {
    mainHeading: string;
    paragraphs: string[];
    locationColumns: string[][];  // Array of 3 column arrays
  }


const { mainHeading, paragraphs, locationColumns } = Astro.props;

// Define service cities for schema
const serviceCities = [
  { name: "Lancaster", state: "Pennsylvania" },
  { name: "Philadelphia", state: "Pennsylvania" },
  { name: "Baltimore", state: "Maryland" },
  { name: "Harrisburg", state: "Pennsylvania" },
  { name: "York", state: "Pennsylvania" },
  { name: "Reading", state: "Pennsylvania" },
  { name: "Hershey", state: "Pennsylvania" },
  { name: "Delaware", state: "Delaware" },
  { name: "Allentown", state: "Pennsylvania" }
];

// Generate LocalBusiness schema with service areas
const localBusinessSchema = buildLocalBusinessSchema(
  "Richard Waine Photography",
  "Professional headshot photographer serving Lancaster, Philadelphia, Baltimore, Harrisburg, York, Reading, Hershey, Delaware, and Allentown",
  "Lancaster",
  "PA",
  "40.038578",
  "-76.306020",
  "+1-717-509-9274",
  "https://richardwainephotography.com",
  serviceCities
);

---


<div class="wrapper headshots-near-section-wrapper">
      <div class="hs-near">
          <h2 class="section-title hs-near-h2 center">{mainHeading}</h2>
          <div class="hs-near-paragraph paragraph">
          {paragraphs.map((para) => (
          <Fragment set:html={para} />
          ))}
          </div>

      </div>

      <div class="location-columns center">
    {locationColumns.map((column) => (
      <div class="">
        {column.map((location) => (
          <h2 class="hs-near-locations">{location}</h2>
        ))}
      </div>
    ))}
      </div>

</div>

<script type="application/ld+json" set:html={JSON.stringify(localBusinessSchema)} />



<style>

  .headshots-near-section-wrapper{
    padding-block:var(--size-8);
  }

/*headshots near styles*/

h2, :global(.hs-near-inline-h2){
  font-weight:var(--fw-normal);
}

.hs-near{
    padding-bottom:var(--size-3);
    line-height: var(--line-height-relaxed);
}

.hs-near-h2{
    padding-block: 0 var(--size-3);
}

:global(.hs-near-inline-h2){
    text-transform:lowercase;
    display:inline;
    font-size:var(--fs-400);
    
}

.hs-near-paragraph{
    font-size:var(--fs-400);
}
    


.location-columns{
  display:grid;
  grid-template-columns:1fr;
  margin-top:var(--size-10);
  gap:var(--size-7);
  

}
/* ==========================================
   TABLET - min-width: 48em (768px)
   ========================================== */
   
@media screen and (min-width: 48em) {
  .location-columns {
    grid-template-columns: repeat(3, 1fr);
  }
}

.hs-near-locations{
    line-height:2.25;
    font-size:var(--fs-400)
}


</style>