---
import { Image } from 'astro:assets';
---

<div class="wrapper">
		<div class="benefits center">
		    <p class="section-title spacing">DO YOU HATE HAVING YOUR PICTURE TAKEN?</p>
		    <p class="paragraph spacing">LACK OF CONFIDENCE, FEAR OF FAILURE, 
		        AND FEELING THAT YOU AREN'T PHOTOGENIC,<br>
		        PREVENT YOU FROM SHOWING YOUR TRUE SELF</p>
		    <p class="benefits paragraph one spacing">A<h2 class="benefits h2 spacing"> PROFESSIONAL HEADSHOT</h2>
		    <p class="benefits paragraph two spacing"> EXPERIENCE CAN CHANGE EVERYTHING</p>
		</div>

<div class="sliding-images">
<Image class="image1" src="https://static1.squarespace.com/static/50f79c6fe4b00d3480c9bbf0/t/683ddd9383fd532f9bb3614a/1748884884118/Headshot_20240919_William+Adote_Richard+Waine_Lancaster_PA_0023+%28horizontal%29+-+compressed.jpg" alt="Professional headshot portrait" width={600} height={400} />
</div>

</div>






<style>

    /*benefits section style*/

    .wrapper{
        padding-block:var(--size-7);
        background: white;
    }

:is(.benefits.paragraph, .benefits.h2){
    font-size:var(--fs-450);
    font-family:var(--ff-primary);
    font-weight:var(--fw-normal)
    /* line-height:1.7; */
   
}

:is(.benefits.one, .benefits.h2, .paragraph.two){
    display:inline;
  
}


/*problem section style*/
.problem{
    font-size:var(--fs-600);

   
 


&.h2{
  display:inline;


&.problem.h2,&.problem.h3{
  font-size:var(--fs-600);

  }
}}

.benefits{
    padding-block:var(--size-3)
}
.benefits > p{
    /* padding-block:var(--size-3); */
}

.wrapper{
    display:grid;
    margin-inline:auto;
}

.sliding-images img{
    width:min(800px, 100%);
    margin-inline:auto;
    display:block;
    height:auto;
    padding:0;
}

@media (width > 767px){
    .wrapper{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items:center;
        gap:2em;
        max-width:80%;
        margin-inline:auto;
    }
}


</style>