---

---

<div class="wrapper">
		<div class="benefits center">
		    <p class="section-title spacing">DO YOU HATE HAVING YOUR PICTURE TAKEN?</p>
		    <p class="paragraph spacing">LACK OF CONFIDENCE, FEAR OF FAILURE, 
		        AND FEELING THAT YOU AREN'T PHOTOGENIC,<br>
		        PREVENT YOU FROM SHOWING YOUR TRUE SELF</p>
		    <p class="benefits paragraph one spacing">A<h2 class="benefits h2 spacing"> PROFESSIONAL HEADSHOT</h2>
		    <p class="benefits paragraph two spacing"> EXPERIENCE CAN CHANGE EVERYTHING</p>
		</div>


</div>






<style>

    /*benefits section style*/

    .wrapper{
        padding-block:var(--size-7);
        background: white;
    }

:is(.benefits.paragraph, .benefits.h2){
    font-size:var(--fs-450);
    font-family:var(--ff-primary);
    font-weight:var(--fw-normal)
    /* line-height:1.7; */
   
}

:is(.benefits.one, .benefits.h2, .paragraph.two){
    display:inline;
  
}


/*problem section style*/
.problem{
    font-size:var(--fs-600);

   
 


&.h2{
  display:inline;


&.problem.h2,&.problem.h3{
  font-size:var(--fs-600);

  }
}}

.benefits{
    padding-block:var(--size-3)
}
.benefits > p{
    /* padding-block:var(--size-3); */
}

.wrapper{
    display:grid;
    margin-inline:auto;
}




</style>