---
import PrimaryButton from './PrimaryButton.astro';

import { Image } from 'astro:assets';
import Calendar from '../assets/images/icons/Calendar.png';
import Camera from '../assets/images/icons/Camera.png';
import Share from '../assets/images/icons/Share.png';
---


<div class="wrapper">
<div class="process center spacing">
    <h3 class="section-title">The Game Plan</h3>
    <p class="process-paragraph">IT'S EASY TO LOOK AWESOME!
</div>

<div class=container-gameplan>
  <article class="gameplan-card center">
    <div class="face gameplan1">
      <div class=content-gameplan>

          <Image src={Calendar} alt="schedule a professional headshot, lancaster photographer, lancaster headshots,business headshots near me" class="" loading="lazy" layout='constrained' width={75} height={75} />

        
         
          <span class="spacing">SCHEDULE</span>
      </div>
    </div>
    <div class="face gameplan2">
      <div class=content-gameplan>
        <p>Give the <b>SCHEDULE</b> button a tap!</p>
        <p>Select an appointment that works best for you.</p>
        <div class="button-wrapper">
          <PrimaryButton text="SCHEDULE" url="/rates"  />
        </div>
      </div>
    </div>
  </article>

  <article class="gameplan-card center">
    <div class="face gameplan1">
      <div class=content-gameplan>

          <Image src={Camera} alt="professional headshot pictures, professional photography, lancaster pa headshots" class="" loading="lazy" layout='constrained' width={75} height={75} />

        
          
          <span class="spacing">SHOOT</span>
      </div>
    </div>
    <div class="face gameplan2">
      <div class=content-gameplan>
        <p>It's fun and easy!<br>I will guide you into pictures that will propel your career.</p>
        <div class="button-wrapper">
          <PrimaryButton text="SCHEDULE" url="/rates"  />
        </div>
      </div>
    </div>
  </article>

  <article class="gameplan-card center">
    <div class="face gameplan1">
      <div class=content-gameplan>

        <Image src={Share} alt="company headshots, linkedin headshots, social media headshots, headshot photographers, professional headshots near me" class="" loading="lazy" layout='constrained' width={75} height={75} />

       
          
          <span class="spacing">SHARE</span>
      </div>
    </div>
    <div class="face gameplan2">
      <div class=content-gameplan>
        <p>Share your images with everyone!<br> Stand out and be recognized as an expert in your field.</p>
        <div class="button-wrapper">
          <PrimaryButton text="SCHEDULE" url="/rates"  />
        </div>
      </div>
    </div>
  </article>
</div>
</div>

<style>
/* ==========================================
   MOBILE BASE STYLES
   ========================================== */

/*benefits-3 & Gameplan*/
.gameplan-card .face {
  width: min(370px, 100%);
  margin-inline:auto;
  height: 200px;
  transition: 0.5s;
  text-align: center;
}

.container-gameplan,
.gameplan-card .face.gameplan1 {
  display: flex;
  align-items: center;
}

.container-gameplan {
  flex-direction: column;
  justify-items: center;
}

.gameplan-card {
  position: relative;
}

.gameplan-card .face.gameplan1 {
  position: relative;
  background-color: var(--drkbg);
  justify-content: center;
  z-index: 1;
  transform: translateY(100px);
}

.gameplan-card:hover .face.gameplan1 {
  background: var(--drkbg);
  transform: translateY(0);
}

.face.gameplan1 .content-gameplan {
  opacity: 0.75;
  transition: 0.5s;
  line-height: 1;
}

.gameplan-card:hover .face.gameplan1 .content-gameplan {
  opacity: 1;
}

.content-gameplan img {
  max-height: 100px;
  filter: invert(100%);
  margin-inline: auto;
}

.gameplan-card span {
  font-weight: var(--fw-bold);
  color: var(--ltclr);
  margin: 0;
  margin-top: var(--size-5);
}

.container-gameplan .gameplan-card .face.gameplan2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameplan-card .face.gameplan2 {
  position: relative;
  padding: var(--size-4);
  box-shadow: var(--shadow);
  transform: translateY(-100px);
}

.gameplan-card:hover .face.gameplan2 {
  transform: translateY(0);
}

.content-gameplan p {
  font-family: var(--ff-secondary);
  color: var(--blkclr);
  font-size: var(--fs-400);
  margin: 0;
  line-height: var(--line-height-relaxed);
}

.content-gameplan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-3);
}

/*process styles*/
.process-paragraph {
  font-size: var(--fs-450);
  text-align: center;
  letter-spacing: var(--ltr-space);
  padding-bottom:var(--size-7);
}

.content-gameplan :global(.primary-btn) {
  font-size: var(--fs-300);
  padding: var(--size-3) var(--size-8);
  margin-top:var(--size-3);
}

/* ==========================================
   TABLET - min-width: 40.0625em (641px)
   ========================================== */
@media screen and (min-width: 40.0625em) {
  .container-gameplan {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-inline: var(--size-12);
  }

  .content-gameplan :global(.primary-btn) {
    font-size: var(--fs-350);
  }
}
</style>
