---

---




<div class="sidebar">
  <a href="https://app.acuityscheduling.com/schedule.php?owner=13511326&appointmentType=11959793">
    <span>Schedule <br>Consultation</span>
      <img class="zoom-icon"
        src="src/assets/images/icons/ZoomLogo.png"
        alt="zoom consult icon" width="75" height="72" loading="lazy">
  </a>
</div>

<style>
.sidebar{
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left:-270px;
  z-index:9;
  top:0;

}

.sidebar a{
--_shadow:2px 2px 5px var(--shadow-clr-medium);

  color: var(--ltclr);
  background:#151515;
  font-size:  var(--fs-400);
  line-height:var(--line-height-tight);
  font-weight: var(--fw-semi-bold);
  text-decoration: none;
  text-transform:uppercase;
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content:end;
  margin: 5px;
  padding: var(--size-3);
  width: 350px;
  text-align: right;
  border-radius: 100vw;
  transition: 1s;
  transition-property: transform;
  box-shadow:var(--_shadow);
}

.zoom-icon{
  width:75px;
  vertical-align:middle;
}



.sidebar a:hover{
  transform: translate(175px, 0);

}

  
</style>