---
import MainLayout from '../layouts/MainLayout.astro'
import ZoomPopOut from '../components/ZoomPopOut.astro'
import RatesCard from '../components/RatesCard.astro'
let h1 = 'Headshot Rates';
---

<MainLayout title= "Headshot Rates">

<main>

    
<h1>{h1}</h1> 
<ZoomPopOut />

<RatesCard >/

</main>


</MainLayout>


<style>

    h1{
        font-size:var(--fs-800);
    }
</style>